<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TeachingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>courseAjax</display-name>
    <servlet-name>courseAjax</servlet-name>
    <servlet-class>com.hit.servlet.courseAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseAjax</servlet-name>
    <url-pattern>/courseAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasCourse</display-name>
    <servlet-name>HasCourse</servlet-name>
    <servlet-class>com.hit.servlet.HasCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasCourse</servlet-name>
    <url-pattern>/HasCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseList</display-name>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>com.hit.servlet.CourseList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hit.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDept</display-name>
    <servlet-name>GetDept</servlet-name>
    <servlet-class>com.hit.servlet.GetDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDept</servlet-name>
    <url-pattern>/GetDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMajorOfDept</display-name>
    <servlet-name>GetMajorOfDept</servlet-name>
    <servlet-class>com.hit.servlet.GetMajorOfDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMajorOfDept</servlet-name>
    <url-pattern>/GetMajorOfDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>com.hit.servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryCourse</display-name>
    <servlet-name>AdminQueryCourse</servlet-name>
    <servlet-class>com.hit.servlet.AdminQueryCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryCourse</servlet-name>
    <url-pattern>/AdminQueryCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryStudent</display-name>
    <servlet-name>AdminQueryStudent</servlet-name>
    <servlet-class>com.hit.servlet.AdminQueryStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryStudent</servlet-name>
    <url-pattern>/AdminQueryStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSids</display-name>
    <servlet-name>GetSids</servlet-name>
    <servlet-class>com.hit.servlet.GetSids</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSids</servlet-name>
    <url-pattern>/GetSids</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTids</display-name>
    <servlet-name>GetTids</servlet-name>
    <servlet-class>com.hit.servlet.GetTids</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTids</servlet-name>
    <url-pattern>/GetTids</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryTeacher</display-name>
    <servlet-name>AdminQueryTeacher</servlet-name>
    <servlet-class>com.hit.servlet.AdminQueryTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryTeacher</servlet-name>
    <url-pattern>/AdminQueryTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryComm</display-name>
    <servlet-name>AdminQueryComm</servlet-name>
    <servlet-class>com.hit.servlet.AdminQueryComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryComm</servlet-name>
    <url-pattern>/AdminQueryComm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseListOfTeacher</display-name>
    <servlet-name>CourseListOfTeacher</servlet-name>
    <servlet-class>com.hit.servlet.CourseListOfTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListOfTeacher</servlet-name>
    <url-pattern>/CourseListOfTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseOfTeacher</display-name>
    <servlet-name>GetCourseOfTeacher</servlet-name>
    <servlet-class>com.hit.servlet.GetCourseOfTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseOfTeacher</servlet-name>
    <url-pattern>/GetCourseOfTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentOfCourse</display-name>
    <servlet-name>GetStudentOfCourse</servlet-name>
    <servlet-class>com.hit.servlet.GetStudentOfCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentOfCourse</servlet-name>
    <url-pattern>/GetStudentOfCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePwdServlet</display-name>
    <servlet-name>changePwdServlet</servlet-name>
    <servlet-class>com.hit.servlet.changePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePwdServlet</servlet-name>
    <url-pattern>/changePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyInfo</display-name>
    <servlet-name>ModifyInfo</servlet-name>
    <servlet-class>com.hit.servlet.ModifyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyInfo</servlet-name>
    <url-pattern>/ModifyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseOfTerm</display-name>
    <servlet-name>GetCourseOfTerm</servlet-name>
    <servlet-class>com.hit.servlet.GetCourseOfTerm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseOfTerm</servlet-name>
    <url-pattern>/GetCourseOfTerm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTermDept</display-name>
    <servlet-name>GetTermDept</servlet-name>
    <servlet-class>com.hit.servlet.GetTermDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTermDept</servlet-name>
    <url-pattern>/GetTermDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetScores</display-name>
    <servlet-name>GetScores</servlet-name>
    <servlet-class>com.hit.servlet.GetScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScores</servlet-name>
    <url-pattern>/GetScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.hit.servlet.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeptCourse</display-name>
    <servlet-name>GetDeptCourse</servlet-name>
    <servlet-class>com.hit.servlet.GetDeptCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeptCourse</servlet-name>
    <url-pattern>/GetDeptCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentOfTeacher</display-name>
    <servlet-name>GetStudentOfTeacher</servlet-name>
    <servlet-class>com.hit.servlet.GetStudentOfTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentOfTeacher</servlet-name>
    <url-pattern>/GetStudentOfTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentandScores</display-name>
    <servlet-name>GetStudentandScores</servlet-name>
    <servlet-class>com.hit.servlet.GetStudentandScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentandScores</servlet-name>
    <url-pattern>/GetStudentandScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateScores</display-name>
    <servlet-name>UpdateScores</servlet-name>
    <servlet-class>com.hit.servlet.UpdateScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScores</servlet-name>
    <url-pattern>/UpdateScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComments</display-name>
    <servlet-name>GetComments</servlet-name>
    <servlet-class>com.hit.servlet.GetComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComments</servlet-name>
    <url-pattern>/GetComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClassOfDept</display-name>
    <servlet-name>GetClassOfDept</servlet-name>
    <servlet-class>com.hit.servlet.GetClassOfDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassOfDept</servlet-name>
    <url-pattern>/GetClassOfDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseOfDept</display-name>
    <servlet-name>GetCourseOfDept</servlet-name>
    <servlet-class>com.hit.servlet.GetCourseOfDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseOfDept</servlet-name>
    <url-pattern>/GetCourseOfDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArrangeCourse</display-name>
    <servlet-name>ArrangeCourse</servlet-name>
    <servlet-class>com.hit.servlet.ArrangeCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrangeCourse</servlet-name>
    <url-pattern>/ArrangeCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseCourse</display-name>
    <servlet-name>ChooseCourse</servlet-name>
    <servlet-class>com.hit.servlet.ChooseCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCourse</servlet-name>
    <url-pattern>/ChooseCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudents</display-name>
    <servlet-name>AddStudents</servlet-name>
    <servlet-class>com.hit.servlet.AddStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudents</servlet-name>
    <url-pattern>/AddStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudents</display-name>
    <servlet-name>UpdateStudents</servlet-name>
    <servlet-class>com.hit.servlet.UpdateStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudents</servlet-name>
    <url-pattern>/UpdateStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.hit.servlet.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>com.hit.servlet.UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourse</display-name>
    <servlet-name>UpdateCourse</servlet-name>
    <servlet-class>com.hit.servlet.UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/UpdateCourse</url-pattern>
  </servlet-mapping>
</web-app>